button{
    background-color: rgb(20, 24, 25);
color: white;
width: 100px;
padding-left: 5px;
padding-right: 5px;
padding-top: 3px;
padding-bottom: 5px;

margin-bottom: 3px;
border-radius: 5px;
background-color: #222;
border-radius: 4px;
border-style: none;
box-sizing: border-box;
color: #fff;
cursor: pointer;
display: inline-block;
margin: 0;
max-width: none;
outline: none;
overflow: hidden;
position: relative;
text-align: center;
text-transform: none;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
width: 100%;
}
button:hover{
    background-color: #1857a4;

}