button {
    background-color: rgb(30, 30, 30);
    color: white;
    
    padding: 10px 20px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    

}
button:hover{
    background-color: rgb(70, 70, 70);

}